$border-color: #E7E8E9;
$white: #fff;
$primary: #4161C8;

$gray-100: #F5F6F8;
$gray-200: #DFE0EB;
$gray-300: rgba(#6F7171, 0.2);
$gray-400: #B8B8B8;
$gray-500: #6F7171;
$gray-600: #686868;
$gray-700: #3F4241;
$gray-800: #272B2A;
$gray-900: #0F1312;

.grid-table {
    width: 100%;
    // overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    // height: 70vh;
    // height: calc(100vh - 239px);
    margin-bottom: 63px;
  
    &.grid-wrapper {
      height: 74vh;
      height: calc(100vh - 205px);
    }
  
    &.pipeline-wrapper {
      height: 74vh;
      height: calc(100vh - 100px);
      .img-customer {
        height: fit-content;
      }
    }
  
    &::-webkit-scrollbar {
      height: 12px;
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(245, 245, 245, 1);
  
    //   @include media-breakpoint-down(md) {
    //     -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    //   }
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #e0e0e0;
      border-radius: 10px;
  
    //   @include media-breakpoint-down(md) {
    //     background-color: $white;
    //   }
    }
  
    &.no-border {
      border-top: 1px solid $border-color;
  
      html[dir='ltr'] & {
        margin-left: 0;
      }
  
      html[dir='rtl'] & {
        margin-right: 0;
      }
  
      table {
        th {
          box-shadow: none;
        }
  
        th,
        td {
          border: none;
          border-bottom: 1px solid $border-color;
        }
      }
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid $border-color;
      min-width: 1024px;
      white-space: nowrap;
  
      td,
      th {
        border: 1px solid $border-color;
        padding: 10px 15px;
        font-weight: 600;
      }
  
      th {
        font-size: 13px;
        position: sticky;
        top: 0;
        background-color: $white;
        z-index: 1;
  
        &:not(.check-all):not(.action) {
          min-width: 88px;
        }
      }
  
      td {
        font-size: 12px;
      }
  
      .new {
        td,
        th {
          font-weight: 700;
        }
      }
    }
  
    .check-all {
      position: sticky;
      left: 0;
      top: 0;
      background-color: $white;
      z-index: 2;
  
      [type='checkbox']:not(:checked) + label,
      [type='checkbox']:checked + label {
        html[dir='ltr'] & {
          padding-left: 16px;
        }
  
        html[dir='rtl'] & {
          padding-right: 16px;
        }
      }
    }
  
    .sort {
      font-size: 4px;
      cursor: pointer;
  
      i {
        margin: 1px 0;
      }
  
      &.asc {
        .icon-caret-up {
          color: rgba($gray-600, 0.4);
        }
      }
  
      &.desc {
        .icon-caret-down {
          color: rgba($gray-600, 0.4);
        }
      }
    }
  
    .tag {
      padding-bottom: 1px;
    }
  
    .grid-table-filter {
      position: absolute;
      bottom: 0;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.18);
      width: 390px;
      transform: translateY(100%) scale(0.95);
      transform-origin: top center;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      visibility: hidden;
  
      html[dir='ltr'] & {
        right: 0;
      }
  
      html[dir='rtl'] & {
        left: 0;
      }
  
      &.in {
        transform: translateY(100%) scale(1);
        opacity: 1;
        visibility: visible;
        max-height: 65vh;
      }
  
      .heading {
        padding: 6px 0;
  
        .icon-caret-up {
          display: none;
        }
  
        &.active {
          .icon-caret-up {
            display: block;
          }
  
          .icon-caret-down {
            display: none;
          }
        }
      }
  
      .filter-top {
        .form-control {
          background-image: url(./assets/images/search-icon.png);
          background-repeat: no-repeat;
  
          html[dir='ltr'] & {
            background-position: left 10px center;
            padding-left: 35px;
          }
  
          html[dir='rtl'] & {
            background-position: right 10px center;
            padding-right: 35px;
          }
        }
      }
  
      .filter-middle {
        // max-height: 315px;
        overflow: auto;
      }
    }
  }
  
.cursor-pointer{
  cursor: pointer;
}

.font-weight-semibold {
  font-weight: 600;
}
.font-xs {
  font-size: 12px!important;
}
.font-weight-normal {
  font-weight: 400!important;
}
// ICON  MOON
@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon.eot?2ktsk2');
  src:  url('./assets/fonts/icomoon.eot?2ktsk2#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?2ktsk2') format('truetype'),
    url('./assets/fonts/icomoon.woff?2ktsk2') format('woff'),
    url('./assets/fonts/icomoon.svg?2ktsk2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all-category:before {
  content: "\e99f";
}
.icon-quotation:before {
  content: "\e9a0";
}
.icon-time-reminder:before {
  content: "\e99e";
}
.icon-folder:before {
  content: "\e99d";
}
.icon-plus-sm:before {
  content: "\e99b";
}
.icon-minus-sm:before {
  content: "\e99c";
}
.icon-drag-indicator:before {
  content: "\e99a";
}
.icon-showroom:before {
  content: "\e999";
}
.icon-thumbs-up:before {
  content: "\e998";
}
.icon-visibility-group-4:before {
  content: "\e97c";
  color: #4161c8;
}
.icon-visibility-group-3 .path1:before {
  content: "\e97d";
  color: rgb(65, 97, 200);
}
.icon-visibility-group-3 .path2:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(65, 97, 200);
}
.icon-visibility-group-3 .path3:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(65, 97, 200);
}
.icon-visibility-group-3 .path4:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(65, 97, 200);
}
.icon-visibility-group-3 .path5:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(65, 97, 200);
}
.icon-visibility-group-3 .path6:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(65, 97, 200);
}
.icon-visibility-group-3 .path7:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visibility-group-3 .path8:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(196, 196, 196);
}
.icon-visibility-group-2 .path1:before {
  content: "\e985";
  color: rgb(65, 97, 200);
}
.icon-visibility-group-2 .path2:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(65, 97, 200);
}
.icon-visibility-group-2 .path3:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visibility-group-2 .path4:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(196, 196, 196);
}
.icon-visibility-group-2 .path5:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(65, 97, 200);
}
.icon-visibility-group-2 .path6:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(65, 97, 200);
}
.icon-visibility-group-2 .path7:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visibility-group-2 .path8:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(196, 196, 196);
}
.icon-visibility-group-1 .path1:before {
  content: "\e990";
  color: rgb(65, 97, 200);
}
.icon-visibility-group-1 .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(65, 97, 200);
}
.icon-visibility-group-1 .path3:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visibility-group-1 .path4:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(196, 196, 196);
}
.icon-visibility-group-1 .path5:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visibility-group-1 .path6:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(196, 196, 196);
}
.icon-visibility-group-1 .path7:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visibility-group-1 .path8:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(196, 196, 196);
}
.icon-bottom-right:before {
  content: "\e989";
}
.icon-ladder-view:before {
  content: "\e98a";
}
.icon-list-view:before {
  content: "\e98b";
}
.icon-view-collapse:before {
  content: "\e97a";
}
.icon-view-expand:before {
  content: "\e97b";
}
.icon-mark-vsl:before {
  content: "\e979";
}
.icon-file-upload-done .path1:before {
  content: "\e971";
  color: rgb(65, 97, 200);
  opacity: 0.2;
}
.icon-file-upload-done .path2:before {
  content: "\e972";
  margin-left: -0.8388671875em;
  color: rgb(255, 255, 255);
}
.icon-file-upload-done .path3:before {
  content: "\e973";
  margin-left: -0.8388671875em;
  color: rgb(65, 97, 200);
}
.icon-file-upload-done .path4:before {
  content: "\e974";
  margin-left: -0.8388671875em;
  color: rgb(65, 97, 200);
}
.icon-file-upload-done .path5:before {
  content: "\e975";
  margin-left: -0.8388671875em;
  color: rgb(65, 97, 200);
}
.icon-file-upload-done .path6:before {
  content: "\e976";
  margin-left: -0.8388671875em;
  color: rgb(65, 97, 200);
}
.icon-file-upload-done .path7:before {
  content: "\e977";
  margin-left: -0.8388671875em;
  color: rgb(65, 97, 200);
}
.icon-file-upload-done .path8:before {
  content: "\e978";
  margin-left: -0.8388671875em;
  color: rgb(255, 255, 255);
}
.icon-system-task:before {
  content: "\e970";
}
.icon-arrow-up-right:before {
  content: "\e96f";
}
.icon-info-outline:before {
  content: "\e96c";
}
.icon-bulb:before {
  content: "\e96d";
}
.icon-receipt:before {
  content: "\e96e";
}
.icon-discount:before {
  content: "\e96a";
}
.icon-building:before {
  content: "\e96b";
}
.icon-download-bar:before {
  content: "\e969";
}
.icon-car:before {
  content: "\e967";
}
.icon-salesperson:before {
  content: "\e968";
}
.icon-graph:before {
  content: "\e966";
}
.icon-info:before {
  content: "\e91c";
}
.icon-tick-thin:before {
  content: "\e965";
}
.icon-four-wheel-drive:before {
  content: "\e95f";
}
.icon-two-wheel-drive:before {
  content: "\e960";
}
.icon-expand:before {
  content: "\e961";
}
.icon-add:before {
  content: "\e962";
}
.icon-download1:before {
  content: "\e963";
}
.icon-chat:before {
  content: "\e95e";
}
.icon-vehicle:before {
  content: "\e95d";
}
.icon-file:before {
  content: "\e95b";
}
.icon-actions:before {
  content: "\e95a";
}
.icon-download-arrow:before {
  content: "\e95c";
}
.icon-visibility:before {
  content: "\e959";
}
.icon-copy:before {
  content: "\e958";
}
.icon-print:before {
  content: "\e957";
}
.icon-location-filled:before {
  content: "\e956";
}
.icon-detail:before {
  content: "\e953";
}
.icon-agent:before {
  content: "\e954";
}
.icon-user-rounded:before {
  content: "\e955";
}
.icon-calender-sidebar-view:before {
  content: "\e951";
}
.icon-calender-view:before {
  content: "\e952";
}
.icon-configuration-add:before {
  content: "\e94f";
}
.icon-configuration-added:before {
  content: "\e950";
}
.icon-dollar:before {
  content: "\e94c";
}
.icon-plugin:before {
  content: "\e94a";
}
.icon-lead:before {
  content: "\e94b";
}
.icon-bin-fill:before {
  content: "\e949";
}
.icon-tag:before {
  content: "\e948";
}
.icon-direction:before {
  content: "\e946";
}
.icon-email-remove:before {
  content: "\e93f";
}
.icon-facebook:before {
  content: "\e940";
}
.icon-gold-member:before {
  content: "\e941";
}
.icon-instagram:before {
  content: "\e942";
}
.icon-linkedin:before {
  content: "\e943";
}
.icon-primary-contact:before {
  content: "\e944";
}
.icon-twitter:before {
  content: "\e945";
}
.icon-chevron-left-rounded:before {
  content: "\e93c";
}
.icon-chevron-right-rounded:before {
  content: "\e93d";
}
.icon-warning:before {
  content: "\e93e";
}
.icon-arrange:before {
  content: "\e939";
}
.icon-grid:before {
  content: "\e93a";
}
.icon-list:before {
  content: "\e93b";
}
.icon-cloud-download:before {
  content: "\e938";
}
.icon-settings:before {
  content: "\e92a";
}
.icon-users:before {
  content: "\e92b";
}
.icon-upload:before {
  content: "\e92c";
}
.icon-tool:before {
  content: "\e92d";
}
.icon-shield:before {
  content: "\e92e";
}
.icon-search:before {
  content: "\e92f";
}
.icon-pie-chart:before {
  content: "\e930";
}
.icon-percent:before {
  content: "\e931";
}
.icon-link:before {
  content: "\e932";
}
.icon-key:before {
  content: "\e933";
}
.icon-download:before {
  content: "\e934";
}
.icon-calendar:before {
  content: "\e935";
}
.icon-briefcase:before {
  content: "\e936";
}
.icon-approval:before {
  content: "\e937";
}
.icon-users-fill:before {
  content: "\e900";
}
.icon-tick:before {
  content: "\e901";
}
.icon-tick-round:before {
  content: "\e902";
}
.icon-save:before {
  content: "\e903";
}
.icon-send:before {
  content: "\e904";
}
.icon-reset:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-note:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e909";
}
.icon-info1:before {
  content: "\e90a";
}
.icon-invoice:before {
  content: "\e90b";
}
.icon-filter:before {
  content: "\e90c";
}
.icon-flag:before {
  content: "\e90d";
}
.icon-flag-fill:before {
  content: "\e90e";
}
.icon-edit:before {
  content: "\e90f";
}
.icon-ellipsis:before {
  content: "\e910";
}
.icon-ellipsis-vertical:before {
  content: "\e947";
}
.icon-email:before {
  content: "\e911";
}
.icon-dashboard .path1:before {
  content: "\e912";
  color: rgb(39, 43, 42);
}
.icon-dashboard .path2:before {
  content: "\e913";
  margin-left: -0.9521484375em;
  color: rgb(15, 19, 18);
  opacity: 0.2;
}
.icon-dashboard .path3:before {
  content: "\e914";
  margin-left: -0.9521484375em;
  color: rgb(15, 19, 18);
  opacity: 0.2;
}
.icon-dashboard .path4:before {
  content: "\e915";
  margin-left: -0.9521484375em;
  color: rgb(15, 19, 18);
  opacity: 0.2;
}
.icon-dining:before {
  content: "\e916";
}
.icon-doc:before {
  content: "\e917";
}
.icon-drive:before {
  content: "\e918";
}
.icon-bell:before {
  content: "\e919";
}
.icon-bin:before {
  content: "\e91a";
}
.icon-call:before {
  content: "\e91b";
}
.icon-caret-down:before {
  content: "\e91d";
}
.icon-caret-left:before {
  content: "\e94d";
}
.icon-caret-right:before {
  content: "\e94e";
}
.icon-caret-up:before {
  content: "\e91e";
}
.icon-chevron-down:before {
  content: "\e91f";
}
.icon-chevron-left:before {
  content: "\e920";
}
.icon-chevron-right:before {
  content: "\e921";
}
.icon-chevron-up:before {
  content: "\e922";
}
.icon-clock:before {
  content: "\e923";
}
.icon-close:before {
  content: "\e924";
}
.icon-close-round:before {
  content: "\e925";
}
.icon-view:before {
  content: "\e926";
}
.icon-activity:before {
  content: "\e927";
}
.icon-arrow-left:before {
  content: "\e928";
}
.icon-arrow-right:before {
  content: "\e929";
}
.icon-attach:before {
  content: "\e964";
}


// List Filter
.filter-blk {
  box-shadow: 1px 1px 0 $border-color;
}

.filter-selected {
  background-color: rgba($primary, 0.08);
}

.gutter {
  &-5 {
    margin-left: -5px !important;
    margin-right: -5px !important;

    & > [class^='col'] {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }

  &-8 {
    margin-left: -8px !important;
    margin-right: -8px !important;

    & > [class^='col'] {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }

  &-10 {
    margin-left: -10px !important;
    margin-right: -10px !important;

    & > [class^='col'] {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }

  &-12 {
    margin-left: -12px !important;
    margin-right: -12px !important;

    & > [class^='col'] {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }
}

.filter-search {
  min-width: 260px;

  @media (max-width: 767.98px) {
    border: 1px solid #e7e8e9;
  }
}

.form-control-search {
  background-image: url(./assets/images/search-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
}


// Action 

.btn-action {
  .action-border {
    html[dir='ltr'] & {
      border-right: 2px solid darken(saturate(#4161c8, 7.51), 10);
    }

    html[dir='rtl'] & {
      border-left: 2px solid darken(saturate(#4161c8, 7.51), 10);
    }
  }

  .icon-caret- {
    &down,
    &up {
      font-size: 4px;
    }
  }
}
.dropdown-action {
  .dropdown-menu {
    min-width: auto;
  }
}

.dropdown-menu {
  transform: scale(0.95);
  transform-origin: top center;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: block;
  min-width: 220px;
  z-index: 999;

  &.in {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  &.sm {
    min-width: 230px !important;
  }
}
.dropdown-shadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.18);
}
.dropdown-menu {
  transform: scale(0.95);
  transform-origin: top center;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: block;
  min-width: 278px;
  z-index: 999;

  &.in {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}


.dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;

  &__icon {
      i {
          font-size: 11px;

          html[dir='ltr'] & {
              margin-left: 10px;
          }

          html[dir='rtl'] & {
              margin-right: 10px;
          }
      }
      .dot {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $gray-400;
          display: flex;
          margin: 4px;
      }
  }

  &__menu {
      list-style: none;
      margin: 0;
      padding: 7px 15px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
      display: inline-block;
      border-radius: 3px;
      position: absolute;
      bottom: -6px;
      transform: translateY(100%);
      z-index: 99;
      background: $white;
      min-width: 150px;
      display: none;
      html[dir='ltr'] & {
          right: 0;
      }

      html[dir='rtl'] & {
          left: 0;
      }

      &-item {
          padding: 5px 0;
          white-space: nowrap;
      }

      &--open {
          display: block;
      }
  }

  &__hide {
      display: none;
  }

  &__item {
      text-decoration: none;
      color: $gray-900;
      background: transparent;
      border: none;
      padding: 0;
      white-space: nowrap;
      width: 100%;
      display: block;

      &:hover {
          color: $gray-900;
      }

      html[dir='ltr'] & {
          text-align: left;
      }

      html[dir='rtl'] & {
          text-align: right;
      }
  }

  &Action {
      & > .dropdown__item {
          padding: 0.8125rem 1.125rem;
          border-radius: 2px;

          &:hover {
              background: #e1e1e1;
          }
      }
  }
}

.font-xxl{
  font-size: 1.375rem!important
}

.dropdown-add-filter {
  .dropdown-menu {
    max-height: 500px;
    overflow: auto;

    @media (max-width: 767.98px) {
      html[dir='ltr'] & {
        left: -75px;
      }

      html[dir='rtl'] & {
        right: -75px;
        left: inherit;
      }
    }

    &.subIn {
      overflow: hidden;
    }

    .sub-dropdown {
      height: 100%;
      overflow: auto;
      display: none;
      max-height: 520px;

      &.in {
        display: block;
      }

      .sub-dropdown-back {
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: rgba($white, 0.15);
      }

      ul {
        max-height: 360px;
        overflow: auto;
      }

      .date-range-filter {
        .react-datepicker {
          font-family: inherit;
          font-size: 12px;
        }
        .react-datepicker__current-month,
        .react-datepicker__day-name {
          font-weight: 700;
          font-size: 12px;
        }
        .react-datepicker__navigation {
          border-width: 2px 0 0 2px;
          width: 8px;
          height: 8px;
          border-color: #000;

          &--previous {
            transform: rotate(-45deg);
            left: 20px;
          }
          &--next {
            transform: rotate(135deg);
            right: 20px;
          }
        }
      }
    }
  }
}
.dropdown-add-filter {
  .dropdown-menu {
    min-width: 278px !important;
  }
}
.dropdown-add-filter {
  .dropdown-menu {
    max-height: 520px;
    overflow: auto;
  }
}
.rounded-lg {
  border-radius: 50px!important;
}
.dropdown-save {
  .dropdown-menu {
    min-width: 278px;
  }
}
.dropdown-save {
  .dropdown-menu {
    html[dir='ltr'] & {
      left: inherit;
      right: 0;
    }
  }
}
.font-xxxxs {
  font-size: 8px;
}
.align-xy-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.font-xxxxs {
  font-size: 8px;
}
.font-xxxs {
  font-size: 10px!important;
}